index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Flexbox Grid</title>
    <link rel="stylesheet" href="node_modules/flexboxgrid/css/flexboxgrid.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="assets/css/index.css"/>
  </head>
  <body><!-- header -->
    <header id="main-header">
      <div class="container">
        <div class="row end-sm end-md end-lg middle-xs middle sm middle md middle lg">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h1><span class="primary-text">FlexboxGrid</span></h1>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li class="current"><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header><!-- header -->
<!-- section showCase -->
    <section id="showCase">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm midlle-md middle-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 showcase-content">
            <h1>Bienvenue sur <span class="primary-text">FlexboxGrid  </span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicingelit Fugiat, ea</p>
          </div>
        </div>
      </div>
    </section><!-- section showCase -->
<!-- section features -->
    <section id="features">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>caractéristiques de base</h2>
            <p>Ce qui est inclu</p>
            <div class="row center-xs center-sm center-center-md center-lg">
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="fa fa-dashboard"></i>
                <h4>Entièrement optimisé</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="far fa-question-circle"></i>
                <h4>Support gratuit</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="fa fa-rocket"></i>
                <h4>Mises à jour gratuites</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="row center-xs center-sm center-center-md center-lg">
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="fas fa-chart-line"></i>
                <h4>garantie de disponibilité</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="fa fa-users"></i>
                <h4>Multi-utilisateur</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4"><i class="fa fa-plug"></i>
                <h4>Mises à jour gratuites</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- section features -->
<!-- section info -->
    <section id="info">
      <div class="container">
        <div class="row center-xs center-sm center-dm center-lg middle-xs middle-sm middle-md middle-lg"> 
          <div class="col-xs-12 col-sm-6 col-md-6 col-log-6"><img src="assets/img/iphone.png" alt="images iphone"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-log-6">
            <h2>caractéristiques de base</h2>
            <ul>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
              <li><i class="fas fa-check"></i>Lorem, ipsum</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- section info -->
<!-- section company -->
    <section id="company">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>contactez-nous</h4>
            <ul>
              <li> <i class="fas fa-phone"></i>0612345687</li>
              <li><i class="fas fa-envelope"></i>flexboxgrid@test.test</li>
              <li><i class="fas fa-map"></i>1 rue flexboxgrid 10000 Flex</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>A propos de nous</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam obcaecati natus architecto quae sapiente atque eveniet officia soluta debitis delectus!</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Neswletter</h4>
            <p>Lorem ipsum dolor sit amet.</p>
            <form action="" method="post">
              <input type="text" name="email" placeholder="Met ton mail"/>
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section><!-- section company -->
<!-- footer -->
    <footer id="main-footer">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Copyright &copy; 2019 | FlexBoxGrid </p>
          </div>
        </div>
      </div>
    </footer><!-- footer -->
  </body>
</html>

index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Flexbox Grid
    link(rel="stylesheet", href="node_modules/flexboxgrid/css/flexboxgrid.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(rel="stylesheet", href="assets/css/index.css")
  body
      <!-- header -->
      header#main-header
        .container
          .row.end-sm.end-md.end-lg.middle-xs.middle.sm.middle.md.middle.lg
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              h1
                span.primary-text FlexboxGrid
            .col-xs-12.col-sm-10.col-md-10.col-lg-10
              nav#navbar
                ul
                  li.current
                    a(href="home.html") Home
                  - const links = ['About', 'Services', 'Contact']
                    each link in links
                      li
                          a(href=link.toLowerCase()+'.html')=link
      <!-- header -->

      <!-- section showCase -->
      section#showCase
        .container
          .row.center-xs.center-sm.center-md.center-lg.middle-xs.middle-sm.midlle-md.middle-lg
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.showcase-content
                h1 Bienvenue sur 
                  span.primary-text FlexboxGrid  
                p|Lorem ipsum dolor sit amet consectetur adipisicingelit Fugiat, ea
      <!-- section showCase -->

      <!-- section features -->

      section#features
        .container
          .row.center-xs.center-sm.center-md.center-lg
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2 caractéristiques de base
              p Ce qui est inclu
              .row.center-xs.center-sm.center-center-md.center-lg
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-dashboard
                  h4 Entièrement optimisé
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.far.fa-question-circle
                  h4 Support gratuit
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-rocket
                  h4 Mises à jour gratuites
                  p Lorem ipsum dolor sit amet.

              .row.center-xs.center-sm.center-center-md.center-lg
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fas.fa-chart-line
                  h4 garantie de disponibilité
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-users
                  h4 Multi-utilisateur
                  p Lorem ipsum dolor sit amet.
                .col-xs-12.col-sm-4.col-md-4.col-ls-4
                  i.fa.fa-plug
                  h4 Mises à jour gratuites
                  p Lorem ipsum dolor sit amet.

      <!-- section features -->

      <!-- section info -->

      section#info
        .container
          .row.center-xs.center-sm.center-dm.center-lg.middle-xs.middle-sm.middle-md.middle-lg  
            .col-xs-12.col-sm-6.col-md-6.col-log-6
              - const myAttributes = {"src": "assets/img/iphone.png",  "alt": "images iphone"}
              img&attributes(myAttributes)
            .col-xs-12.col-sm-6.col-md-6.col-log-6
              h2 caractéristiques de base
              ul
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum
                li
                    i.fas.fa-check
                    |Lorem, ipsum

      <!-- section info -->

      <!-- section company -->
      section#company
        .container
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 contactez-nous
              ul
                li 
                    i.fas.fa-phone
                    |0612345687
                li
                    i.fas.fa-envelope
                    |flexboxgrid@test.test
                li
                    i.fas.fa-map
                    |1 rue flexboxgrid 10000 Flex

            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 A propos de nous
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam obcaecati natus architecto quae sapiente atque eveniet officia soluta debitis delectus!
            
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h4 Neswletter
              p Lorem ipsum dolor sit amet.
              form(action="", method="post")
                input(type="text", name="email", placeholder="Met ton mail")
                button(type="submit", name="button") Submit
      <!-- section company -->

      <!-- footer -->

      footer#main-footer
        .container
          .row.center-xs.center-sm.center-md.center-lg
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              p Copyright &copy; 2019 | FlexBoxGrid 


      <!-- footer -->
              
